@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "object-fit": (
        property: object-fit,
        class: object-fit,
        values: (
          fill: fill,
          contain: contain,
          cover: cover,
          scale: scale-down,
        )
      )
    )
);

@import "../../node_modules/bootstrap/scss/utilities/api";
